.img_latest_new {
    max-width: 67px;
    min-width: 67px;
    max-height: 67px;
    min-height: 67px;
  }


/* Start Count Down Timer CSS */
.count_down{
  /* width:10%; */
  width:21%;
  min-height:70px;
  background: #3f5ba5;
  color:white;
  text-align: center;
  padding:0px;
  padding-top:15px;
 }

 .timer-align{
  /* align-content:center !important; */
  /* justify-content: center !important; */
  /* margin-left: 20%; */
  /* margin-right: 20%; */
  margin-top:20px;
  margin-bottom:20px;
  padding-left:0px;
  width:111%;
 }

 .counter_value{
  font-size: 30px;
 }

 .counter_unit{
  font-size: 9px;
 }

#days{
  /* margin-left:15px; */
  /* margin-left:5px; */
  margin-left:0px;
  margin-right:5px;
}

#hours{
  margin-left:5px;
  margin-right:5px;
}

#minutes{
  margin-left:5px;
  margin-right:5px;
}

#seconds{
  margin-left:5px;
}
/* End Count Down Timer CSS */

/*Start MLA photo */
.mla-photo{
  max-width:100%;
  max-height:100%;
}
/*End MLA photo */

/* Start red span */
.red_span{
  color:red;
}
/* End red span */
/*
textarea.form-control{
  width:auto !important;
} */

p{
  text-align: justify;
}

.lb-album{
  list-style-type: none;
}

/* for readmore toggle link */
.morecontent {
  display: none;
}

.morelink {
  display: block;
}
/* for readmore toggle link */

/* for venue image in home page */
.max_height_image{
  width: 100%;
  max-height: 320px;
}
/* for venue image in home page */

/* for map of naypyitaw */
.npt_map{
  width: 60%;
  max-height: 550px;
}
/* for map of naypyitaw */

/* for search box */
.searchbox{
  margin-bottom:15px;
}
/* for search box */

.inner-header-text{
  margin-top: 35px;
  margin-bottom: 15px;
  padding-left: 0px;
  font-weight: bold;
}

.inner-header-logo{
  padding-right: 0px;
}

.home-searchbox{
  margin-top:15px !important;
  margin-bottom:15px !important;
}

/* for capital letter in search box */
#search_term{
  text-transform: uppercase;
}

.marquee-text{
  /* margin-top:15px; */
  /* margin-bottom:-15px; */
  font-size:18px;
}

/* for May 2-5,2018    Naypyitaw,Myanmar */
/* .date-place{ */
  /* margin-bottom:-10px; */
/* } */

.latest-news-heading{
  margin-top: -5px;
  text-align: left;
}

.latest-news-short-description{
  text-align: justify;
}

/* for fb button in footer */
.fb-btn{
  color:white;
}

/* for head of mla photo to float left in paragraph */
img[src*="data:image/"] {
  float:left;
  margin: 0 10px 10px 0px;
}

/* for news_detail page */
.news-detail-title{
  margin-top: 35px;
}

.news-detail-description{
  margin-top: 10px;
  text-align: justify;
}

/* for news_all page */
.news-all-title{
  margin-top: 0px;
}

.home-header{
  margin-top: 20px;
}

.latest-news-body{
  padding-top:0px;
}

/* for displaying sponsor logos in frontend */
.sponsor-logo-frontend{
  max-width:75px;
  max-height:75px;
  margin:5px 15px 5px 15px;
}

.sponsor-logo-frontend-large{
  max-width:170px;
  max-height:170px;
  margin:5px 15px 5px 15px;
}

.default-sponsor-image{
  margin-bottom:5px;
  margin-left:15px;
}

/* for eligible banks table */
.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}}
/* for eligible banks table */

/* .post-conference-travel-photo{ */
  /* max-width:100px; */
  /* max-height:80px; */
/* } */

/* for gallery to align left */
.lb-album{
  padding-left: 0px;
}

.news_date{
  color:#337ab7;
}

/* For downarrow in submenu */
.submenu-down-arrow{
  float:right;
}

/* Global font for whole site */
html *
{
   font-family: Poppins;
}

@media screen and (max-width: 768px) {
  div.input-group
 {
 width: 35% !important;
 }
 #seconds, #hours, #minutes
 {
 margin-left:0px !important;
 }
 }

.banner-image{
  width:100% !important;
}

/*for 404 template page*/
#fof{display:block; width:100%; margin:100px 0; line-height:1.6em; text-align:center;}
#fof .hgroup{text-transform:uppercase;}
#fof .hgroup h1{margin-bottom:25px; font-size:80px;}
#fof .hgroup h1 span{display:inline-block; margin-left:5px; padding:2px; border:1px solid #CCCCCC; overflow:hidden;}
#fof .hgroup h1 span strong{display:inline-block; padding:0 20px 20px; border:1px solid #CCCCCC; font-weight:normal;}
#fof .hgroup h2{font-size:60px;}
#fof .hgroup h2 span{display:block; font-size:30px;}
#fof p{margin:25px 0 0 0; padding:0; font-size:16px;}
#fof p:first-child{margin-top:0;}
/*for 404 template page*/

/* For accommodation table */
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}
/* For accommodation table */

/* For regional_school_library_workshop table */
.school_library_table tr{
  height:60px !important;
}
/* For regional_school_library_workshop table */
