.img_latest_new {
    max-width: 67px;
    min-width: 67px;
    max-height: 67px;
    min-height: 67px;
  }


/* Start Count Down Timer CSS */
.count_down{
  /* width:10%; */
  width:21%;
  min-height:70px;
  background: #3f5ba5;
  color:white;
  text-align: center;
  padding:0px;
  padding-top:15px;  
 }

 .timer-align{
  /* align-content:center !important; */
  /* justify-content: center !important; */
  /* margin-left: 20%; */
  /* margin-right: 20%; */
 }

 .counter_value{
  font-size: 30px; 
 }

 .counter_unit{
  font-size: 9px; 
 }

#days{
  /* margin-left:15px; */
  margin-left:5px;
  margin-right:5px;
}

#hours{
  margin-left:5px;
  margin-right:5px;
}

#minutes{
  margin-left:5px;
  margin-right:5px;
}

#seconds{
  margin-left:5px;
} 
/* End Count Down Timer CSS */

/*Start MLA photo */
.mla-photo{
  max-width:100%;
  max-height:100%;
}
/*End MLA photo */

/* Start red span */
.red_span{
  color:red;
}
/* End red span */
/* 
textarea.form-control{
  width:auto !important;
} */

p{
  text-align: justify;
}

.lb-album{
  list-style-type: none;
}

/* for readmore toggle link */
.morecontent {
  display: none;
}

.morelink {
  display: block;
}
/* for readmore toggle link */


